# SNP Extraction Tool for Human Variations
#
DATASET=LSDB
README="http://www.ncbi.nlm.nih.gov/refseq/rsg/lsdb/"

DB_USER=medgen
DB_PASS=medgen
DB_HOST=biomed-stg.vpc.locusdev.net #"localhost" 
DB_PORT="3306"

mysql_dataset="mysql -D $DATASET -u $DB_USER -p$DB_PASS -h $DB_HOST --port $DB_PORT --local-infile" 

